{% trans_default_domain 'FOSUserBundle' %}
<div id="register">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<center><h2 class="form-signin-heading">Please sign in</h2></center>
    {{ form_widget(form) }}
    <div>
          <button class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" value="Register" type="submit">Register</button>
    </div>
{{ form_end(form) }}
</div>
