{# src/appiwebBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <!-- redirection -->
  <meta http-equiv="refresh" content="5;{{path('Homepage')}}" />
<!-- titre de la page -->
  <title>Home</title>
  <!-- menu -->
  {{ include("appliwebBundle:Advert:layout.html.twig") }}

</head>
<body>
  <!-- container -->
  <div class="container">
    <br>
    <!-- popup de succé -->
    <div class="alert alert-success">
      <strong>Success! :</strong> Saved change.
    </div>
  </div>
  <!-- footer -->
  {{ include("appliwebBundle:Advert:footer.html.twig") }}
</body>
</html>
