html{
	  position: relative;
          min-height: 100%;
}
body { background-color:#FFFFFF;
	  margin-bottom: 140px;
		margin-top: 50px;

}

.container-fluid {
	background-color:#FEEAA9;

	}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		background-color:#BF5300;
		color:white;
	}

.navbar-default .navbar-nav > li > a {
		color:#BF5300;
	}

.navbar-default .navbar-nav > li > a:focus {
		color:white;
	}

.navbar-default .navbar-nav > li > a:hover {
		color:#5B2800;
	}

.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}

.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}

.footer{

	background-color: #BF5300;
	position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 120px;
}

#footer-sousdiv {

	  transform: translateY(+50%);
           text-align: center;
          position: relative;
}
.form-signin{
	width: 300px;
	text-align: center;
	margin: auto;

}
.well{
	width: 500px;
	text-align: center;
	margin: auto;
	margin-top: 20px;
}


#test{
	width: 300px;
	text-align: center;
	margin: auto;

}

#profile{
	width: 200px;
}
#sect{
  margin: auto;
	float: left;
}
#centre{
	width: 510px;
  margin: auto;

}

#tableau{
margin-top: 50px;

}

#formregi{
	width: 300px;
	text-align: center;
	margin: auto;
}
p{
	text-align: justify;
}
