

<div class="well">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" value="submit" type="submit">Submit</button>
    </div>
{{ form_end(form) }}
</div>
