<footer class="footer">
               </center>

       <div id="footer-sousdiv">
               <a href= "https://www.facebook.com/pages/Neko-Atsume/714179095371885?fref=ts" > <img src="Assets/Image/Facebook.png" alt="Facebook" ></a>
               <a href= "https://twitter.com/TeamNekoAtsume"><img src="Assets/Image/Twitter.png" alt="Twiter" ></a>
               <a href= "http://nekoatsume.wikia.com/wiki/Neko_Atsume_Wikia"> <img src="Assets/Image/website.png"  alt="Website" ></a>
               <a href= "https://www.youtube.com/watch?v=rJzyVYgZ9fA"><img src="Assets/Image/YouTube.png" alt="Website" ></a>
       </div>
       </center>

   </footer>
