<footer class="footer">
               </center>

       <div id="footer-sousdiv">
               <a href= "https://www.facebook.com/Banquemondiale/?ref=ts&fref=ts"><img src="Assets/Image/Facebook.png"  alt="Facebook" ></a>
               <a href= "https://twitter.com/Banquemondiale"><img src="Assets/Image/Twitter.png" alt="Twiter" ></a>
               <a href= "http://www.banquemondiale.org/"><img src="Assets/Image/website.png" alt="Website" ></a>
               <a href= "https://www.youtube.com/user/WorldBank/featured"><img src="Assets/Image/YouTube.png" alt="Website" ></a>
       </div>
       </center>

   </footer>
