<!-- footer -->
<footer class="footer">
</center>
<!-- div pour les boutons -->
<div id="footer-sousdiv">
  <!-- facebook -->
  <a href= "https://www.facebook.com/pages/Neko-Atsume/714179095371885?fref=ts" > <img src="{{ asset('bundles/appliweb/Image/Facebook.png') }}" alt="Facebook" ></a>
<!-- twiter -->
  <a href= "https://twitter.com/TeamNekoAtsume"><img src="{{ asset('bundles/appliweb/Image/Twitter.png') }}" alt="Twiter" ></a>
<!-- neko atsume wiki -->
  <a href= "http://nekoatsume.wikia.com/wiki/Neko_Atsume_Wikia"> <img src="{{ asset('bundles/appliweb/Image/website.png') }}"  alt="Website" ></a>
<!-- youtube -->
  <a href= "https://www.youtube.com/watch?v=rJzyVYgZ9fA"><img src="{{ asset('bundles/appliweb/Image/YouTube.png') }}" alt="YouTube" ></a>
</div>
</center>

</footer>
