<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index"><img src="Assets/Image/Logo.png" alt="title" style="width:120px;height:45px;" /></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if page == "index" %}
          <li class="active"> <a href="index">Home</a> </li>
          {% else %}
          <li> <a href="index">Home</a> </li>
          {% endif %}
          {% if is_granted("ROLE_ADMIN") %}
          {% if page == "cat-list" %}
          <li class="active"> <a href="admincat-list">Cat list</a> </li>
          {% else %}
          <li> <a href="admincat-list">Cat list</a> </li>
          {% endif %}
          {% else %}
          {% if page == "cat-list" %}
          <li class="active"> <a href="cat-list">Cat list</a> </li>
          {% else %}
          <li> <a href="cat-list">Cat list</a> </li>
          {% endif %}
          {% endif %}
          {% if page == "food" %}
          <li class="active"> <a href="food">Food</a> </li>
          {% else %}
          <li> <a href="food">Food</a> </li>
          {% endif %}
          {% if page == "goodies" %}
          <li class="active"> <a href="goodies">Goodies</a> </li>
          {% else %}
          <li> <a href="goodies">Goodies</a> </li>
          {% endif %}
          {% if is_granted("ROLE_ADMIN") %}
          {% if page == "trick" %}
          <li class="active"> <a href="admintrick">Trick</a> </li>
          {% else %}
          <li> <a href="admintrick">Trick</a> </li>
          {% endif %}
          {% else %}
          {% if page == "trick" %}
          <li class="active"> <a href="trick">Trick</a> </li>
          {% else %}
          <li> <a href="trick">Trick</a> </li>
          {% endif %}
          {% endif %}
          {% if is_granted("ROLE_USER") %}
          {% if page == "addtrick" %}
          <li class="active"> <a href="addtrick">Add a trick</a> </li>
          {% else %}
          <li> <a href="addtrick">Add a trick</a> </li>
          {% endif %}
          {% if page == "addcat" %}
          <li class="active"> <a href="addcat">Add a cat</a> </li>
          {% else %}
          <li> <a href="addcat">Add a cat</a> </li>
          {% endif %}
          {% endif %}
          {% if is_granted("ROLE_ADMIN") %}
          {% if page == "nopublish" %}
          <li class="active"> <a href="nopublish">No publish</a> </li>
          {% else %}
          <li> <a href="nopublish">No publish</a> </li>
          {% endif %}
          {% if page == "user" %}
          <li class="active"> <a href="user">User</a> </li>
          {% else %}
          <li> <a href="user">User</a> </li>

          {% endif %}
          {% endif %}


        </ul>
        <ul class="nav navbar-nav pull-right">
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

          <li><a class="glyphicon glyphicon-off" href="{{ path('fos_user_security_logout') }}" role="button"></a></li>
          Bonjour {{ app.user.username }}
          {% else %}
          <li> <a href="{{ path('fos_user_security_login') }}">Login</a> </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>
